// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


//regole layout

*{
    text-align: center;
    background-color: aqua;
    color: black;
}

table{
    text-align: center;
}

.btn{
    margin: 10px;
}